flows.json
[
    {
        "id": "a56fddcbbb76e6c9",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2b079ab8dfd78d36",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6806bff36aacc4c5",
        "type": "tab",
        "label": "Flow 1 - Full",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "96114dccaad77ea2",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "38cc967bcfc9d715",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "856cceeb7d47e4a6",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "38cc967bcfc9d715",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "328e8059b356b807",
        "type": "mqtt-broker",
        "name": "",
        "broker": "31e313925d0b4a6a965c8c890db0d38f.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "HiveMQ Rieng",
        "broker": "a1c00766b9cf4cde8e22a214ff1d0137.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "dash_tab_1",
        "type": "ui_tab",
        "name": "Hệ Thống Tưới Cây",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dash_group_1",
        "type": "ui_group",
        "name": "Giám Sát & Cảnh Báo",
        "tab": "dash_tab_1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "dash_group_2",
        "type": "ui_group",
        "name": "Điều Khiển Thiết Bị",
        "tab": "dash_tab_1",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4a7ffba2a2e851a2",
        "type": "mqtt in",
        "z": "a56fddcbbb76e6c9",
        "name": "",
        "topic": "my_iot/sensor_data_123",
        "qos": "2",
        "datatype": "json",
        "broker": "328e8059b356b807",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 300,
        "wires": [
            [
                "f76a55904907e2fc",
                "b9d8b6e62f7f7927"
            ]
        ]
    },
    {
        "id": "f76a55904907e2fc",
        "type": "function",
        "z": "a56fddcbbb76e6c9",
        "name": "function 1",
        "func": "var msgTemp = { payload: msg.payload.temperature };\nvar msgHum = { payload: msg.payload.humidity };\nvar msgGas = { payload: msg.payload.gas };\nreturn [msgTemp, msgHum, msgGas];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 420,
        "wires": [
            [
                "011388557c591b35",
                "971cea8ef456c1b2",
                "117d57b269df2125"
            ]
        ]
    },
    {
        "id": "117d57b269df2125",
        "type": "ui_gauge",
        "z": "a56fddcbbb76e6c9",
        "name": "khí ga",
        "group": "856cceeb7d47e4a6",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "khí ga",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 520,
        "wires": []
    },
    {
        "id": "971cea8ef456c1b2",
        "type": "ui_gauge",
        "z": "a56fddcbbb76e6c9",
        "name": "độ ẩm",
        "group": "856cceeb7d47e4a6",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "độ ẩm",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 420,
        "wires": []
    },
    {
        "id": "011388557c591b35",
        "type": "ui_gauge",
        "z": "a56fddcbbb76e6c9",
        "name": "nhiệt độ",
        "group": "856cceeb7d47e4a6",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "nhiệt độ",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 320,
        "wires": []
    },
    {
        "id": "b9d8b6e62f7f7927",
        "type": "switch",
        "z": "a56fddcbbb76e6c9",
        "name": "",
        "property": "payload.temperature",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "35",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 200,
        "wires": [
            [
                "e25a675375a2f586",
                "f0592f98d901921a"
            ]
        ]
    },
    {
        "id": "e25a675375a2f586",
        "type": "function",
        "z": "a56fddcbbb76e6c9",
        "name": "function 2",
        "func": "msg.payload = \"⚠️ CẢNH BÁO: Nhiệt độ quá cao (\" + msg.payload.temperature + \"°C)\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 220,
        "wires": [
            [
                "7866e365eff49827"
            ]
        ]
    },
    {
        "id": "7866e365eff49827",
        "type": "ui_text",
        "z": "a56fddcbbb76e6c9",
        "group": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "trạng thái",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1040,
        "y": 200,
        "wires": []
    },
    {
        "id": "4cb9390cbf45554d",
        "type": "inject",
        "z": "a56fddcbbb76e6c9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temperature\": 40}",
        "payloadType": "json",
        "x": 360,
        "y": 500,
        "wires": [
            [
                "b9d8b6e62f7f7927"
            ]
        ]
    },
    {
        "id": "8eb1e3c252d446f7",
        "type": "e-mail",
        "z": "a56fddcbbb76e6c9",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "22t1020507@husc.edu.vn",
        "dname": "",
        "x": 900,
        "y": 260,
        "wires": []
    },
    {
        "id": "f0592f98d901921a",
        "type": "function",
        "z": "a56fddcbbb76e6c9",
        "name": "function 3",
        "func": "// Tiêu đề của Email\nmsg.topic = \"⚠️ BÁO ĐỘNG IOT: Nhiệt độ vượt ngưỡng!\";\n\n// Nội dung của Email\nmsg.payload = \"Hệ thống phát hiện nhiệt độ đang ở mức nguy hiểm. Vui lòng kiểm tra ngay!\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 280,
        "wires": [
            [
                "8eb1e3c252d446f7"
            ]
        ]
    },
    {
        "id": "9aabfc1efbc7c4d9",
        "type": "inject",
        "z": "a56fddcbbb76e6c9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Test thu gui email",
        "payloadType": "str",
        "x": 360,
        "y": 580,
        "wires": [
            [
                "8eb1e3c252d446f7"
            ]
        ]
    },
    {
        "id": "aa464451a09e4b65",
        "type": "mqtt in",
        "z": "6806bff36aacc4c5",
        "name": "Nhiệt độ",
        "topic": "adminpc/tuoicay/nhietdo",
        "qos": "0",
        "datatype": "auto",
        "broker": "328e8059b356b807",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 450,
        "y": 240,
        "wires": [
            [
                "c0a9e9bd7d53c052",
                "8d80a65693e21c0e"
            ]
        ]
    },
    {
        "id": "876fc7353857b873",
        "type": "mqtt in",
        "z": "6806bff36aacc4c5",
        "name": "Độ ẩm",
        "topic": "adminpc/tuoicay/doam",
        "qos": "0",
        "datatype": "auto",
        "broker": "328e8059b356b807",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 450,
        "y": 300,
        "wires": [
            [
                "82967dfc6be2a757",
                "8d80a65693e21c0e"
            ]
        ]
    },
    {
        "id": "e32ee1d58af08121",
        "type": "mqtt in",
        "z": "6806bff36aacc4c5",
        "name": "Độ ẩm Đất",
        "topic": "adminpc/tuoicay/doamdat",
        "qos": "0",
        "datatype": "auto",
        "broker": "328e8059b356b807",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 450,
        "y": 360,
        "wires": [
            [
                "5c0beede8a38f194",
                "8d80a65693e21c0e"
            ]
        ]
    },
    {
        "id": "c0a9e9bd7d53c052",
        "type": "ui_gauge",
        "z": "6806bff36aacc4c5",
        "name": "",
        "group": "dash_group_1",
        "order": 1,
        "width": "",
        "height": "",
        "gtype": "gage",
        "title": "Nhiệt độ (°C)",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 670,
        "y": 240,
        "wires": []
    },
    {
        "id": "82967dfc6be2a757",
        "type": "ui_gauge",
        "z": "6806bff36aacc4c5",
        "name": "",
        "group": "dash_group_1",
        "order": 2,
        "title": "Độ ẩm KK (%)",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "x": 670,
        "y": 300,
        "wires": []
    },
    {
        "id": "5c0beede8a38f194",
        "type": "ui_gauge",
        "z": "6806bff36aacc4c5",
        "name": "",
        "group": "dash_group_1",
        "order": 3,
        "title": "Độ ẩm Đất (%)",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "x": 670,
        "y": 360,
        "wires": []
    },
    {
        "id": "8d80a65693e21c0e",
        "type": "function",
        "z": "6806bff36aacc4c5",
        "name": "Kiểm tra Ngưỡng",
        "func": "let temp = global.get('temp') || 0;\nlet hum = global.get('hum') || 0;\nif(msg.topic === 'adminpc/tuoicay/nhietdo') { temp = parseFloat(msg.payload); global.set('temp', temp); }\nif(msg.topic === 'adminpc/tuoicay/doam') { hum = parseFloat(msg.payload); global.set('hum', hum); }\nif(temp > 35 || hum < 40) {\n    return { payload: `CẢNH BÁO: Nhiệt độ ${temp}°C, Độ ẩm ${hum}%. Vượt ngưỡng an toàn!`, topic: 'Cảnh báo Hệ thống Tưới' };\n}\nreturn { payload: 'Hệ thống đang hoạt động bình thường' };",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 440,
        "wires": [
            [
                "00ee4640c9c7e5c9",
                "bc255e90e7dab25b",
                "bc7d9583f03f76fc"
            ]
        ]
    },
    {
        "id": "00ee4640c9c7e5c9",
        "type": "ui_text",
        "z": "6806bff36aacc4c5",
        "group": "dash_group_1",
        "order": 4,
        "name": "Cảnh báo",
        "label": "Thông báo:",
        "format": "{{msg.payload}}",
        "x": 910,
        "y": 380,
        "wires": []
    },
    {
        "id": "bc255e90e7dab25b",
        "type": "rbe",
        "z": "6806bff36aacc4c5",
        "name": "Chống Spam",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 920,
        "y": 440,
        "wires": [
            [
                "5b9cb0673fbb5e5a"
            ]
        ]
    },
    {
        "id": "5b9cb0673fbb5e5a",
        "type": "e-mail",
        "z": "6806bff36aacc4c5",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": false,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": false,
        "name": "22T1020507@husc.edu.vn",
        "dname": "",
        "x": 1150,
        "y": 440,
        "wires": []
    },
    {
        "id": "bc7d9583f03f76fc",
        "type": "switch",
        "z": "6806bff36aacc4c5",
        "name": "Lọc Cảnh Báo",
        "property": "payload",
        "rules": [
            {
                "t": "cont",
                "v": "CẢNH BÁO",
                "vt": "str"
            }
        ],
        "outputs": 1,
        "x": 920,
        "y": 500,
        "wires": [
            [
                "a1862af64e124074"
            ]
        ]
    },
    {
        "id": "a1862af64e124074",
        "type": "file in",
        "z": "6806bff36aacc4c5",
        "name": "Đọc File MP3",
        "filename": "D:/bao_dong.mp3",
        "filenameType": "str",
        "format": "",
        "allProps": false,
        "x": 1130,
        "y": 500,
        "wires": [
            [
                "949343e6453d2bb3"
            ]
        ]
    },
    {
        "id": "949343e6453d2bb3",
        "type": "ui_audio",
        "z": "6806bff36aacc4c5",
        "name": "Phát Âm Thanh",
        "group": "dash_group_1",
        "x": 1350,
        "y": 500,
        "wires": []
    },
    {
        "id": "376ed8da14c7b3c3",
        "type": "mqtt in",
        "z": "6806bff36aacc4c5",
        "name": "Phản hồi Bơm",
        "topic": "adminpc/tuoicay/trangthaibom",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "328e8059b356b807",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 450,
        "y": 640,
        "wires": [
            [
                "d64ff357c6deec04"
            ]
        ]
    },
    {
        "id": "d64ff357c6deec04",
        "type": "ui_text",
        "z": "6806bff36aacc4c5",
        "group": "dash_group_2",
        "order": 3,
        "label": "Bơm thực tế:",
        "format": "{{msg.payload}}",
        "x": 690,
        "y": 640,
        "wires": []
    },
    {
        "id": "aa8f46c3a90b71f7",
        "type": "ui_dropdown",
        "z": "6806bff36aacc4c5",
        "name": "Lệnh Bơm",
        "label": "Gửi Lệnh Bơm",
        "tooltip": "",
        "place": "",
        "group": "dash_group_2",
        "width": "",
        "height": "",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "BẬT (MANUAL)",
                "value": "ON",
                "type": "str"
            },
            {
                "label": "TẮT (MANUAL)",
                "value": "OFF",
                "type": "str"
            },
            {
                "label": "TỰ ĐỘNG (AUTO)",
                "value": "AUTO",
                "type": "str"
            }
        ],
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 440,
        "y": 540,
        "wires": [
            [
                "ce2829813d7fa5f8"
            ]
        ]
    },
    {
        "id": "ce2829813d7fa5f8",
        "type": "mqtt out",
        "z": "6806bff36aacc4c5",
        "name": "",
        "topic": "adminpc/tuoicay/bom",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "328e8059b356b807",
        "x": 690,
        "y": 540,
        "wires": []
    },
    {
        "id": "718b267ecab24268",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "node-red-node-email": "5.2.1"
        }
    }
]
